body {
    background-color: black;
}
/*partie header*/
header {
    height: 600px;
    width: auto;
    background-size: cover;
    background-image: url("images/chateau.png");
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px rgb(255, 209, 124);
}
header div p {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
}

/*partie dropdown*/
.dropdown-item:hover {
    background-color: darkorange;
    color: white;
}

/*les titres*/
h1,
h2 {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

/*La source du texte, je retire la décoration*/
.source {
    color: white;
    text-decoration: none;
}
.source:hover {
    color: orange;
}

/*Image du chat*/
.chat img {
    width: 150px;
}
